/* dashboard.module.css */

.container {
  background-image: url("../background.png");
  background-size: cover; /* Cover the entire container */
  background-position: center; /* Center the image */
  background-attachment: fixed; /* Make the background image fixed */
  height: 100vh; /* Set the container height */
  width: 100%; /* Set the container width */
  color: black;
  overflow: auto; /* Allow scrolling if content exceeds height */
}

.postsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Center the posts horizontally */
  align-items: flex-start; /* Align posts to the top */
  padding: 20px; /* Add padding to the container */
  margin: 0 auto; /* Center the container */
}

.postCard {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s; /* Smooth transition for hover effect */
}

.thumbnail {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.postCard h3 {
  font-size: 1.25em;
  margin: 16px 0 8px;
}

.postCard p {
  margin: 8px 0;
}

.postCard a {
  color: #1890ff;
  text-decoration: none;
}

.postCard a:hover {
  text-decoration: underline;
}

.labels {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.label {
  background-color: #e8f5fe;
  color: #007acc;
  border-radius: 16px;
  padding: 4px 12px;
  font-size: 0.875em;
}

.readTime {
  font-size: 0.875em;
  color: #999;
}

.postCard:hover {
  transform: translateY(-5px); /* Slightly lift the card on hover */
}
